.listItemText {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
}
.listItemText__primary {
  font-size: 0.8rem;
  margin: 2px;
}
.listItemText__secondary {
  font-size: 0.6rem;
  margin: 2px;
  color: grey;
}
